body{
    margin: 0;
    
    
}
@font-face {
    font-family: "myFirstFont";
    src: url("./roboto/Roboto-Bold.ttf");
}
html{
    font-family: "myFirstFont";
}
.header{
    display: flex;
    justify-content: center;
    gap:300px;
    
    background-color: #1F2937;
    margin-bottom: 50px;
    
}
div{
    margin: 0;
    border-radius: 0;
    padding:0;
}
a{
    
    text-decoration: none;
    color:black;
    padding: 2px;
    margin: 5px;
    font-style: normal;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.links_header{
    font-size: 18px;
    font-style: normal;
    font-weight: 100;
    color: #e5e7eb;
}
h1#lp_logo{
    font-size: 48px;
    color: #F9FAF8;
}
.ph_main{
    font-size:48px;
    font-weight:bolder; 
    color:#F9FAF8;
    background-color: #1F2937;
    margin: 0;
}
.placeholder_box{
    display: flex;
    background-color: #1F2937;
    justify-content: center;
}
.placeholder{
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    gap:50px;
    margin:50px;
    
    
}

.placeholder_content{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding:10px;
}
p#ph_text{
    font-size: 18px;
    color: #e5e7eb;
    
    
}

.headerbox{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}

button#ph_button{
    
    width: 120px;
    height:40px;
    background-color: #3882F6;
    border-color: #3882F6;
    border-radius: 16px;
    color: white;
}
.some_random_box{
    display: flex;
    flex-direction: column;
    margin:50px;
}
.box_header{
    font-size:36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    display: flex;
    justify-content: center;
    gap:30px;
}

.border_box{
    width:200px;
    height: 200px;
    border: 5px solid #3882F6;
    border-radius: 16px;
    justify-content: center;
    margin:5px auto;
    
}


.boxes{
    display: flex;
    flex-direction: column;
    
    
}
img#pc{
    width: 600px;
    height: 200px;

}
.placeholder_img{
    margin: 10px;
    width: 400px;
    height: 200px;
    background-color: dimgrey;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
}
.box-content{
    display: flex;
    justify-content: center;
    gap:120px;
}
.quote_box{
    display: flex;
    background-color: #e5e7eb;
    flex-direction: column;
    gap:0%;
    padding:0%;
   
}
.quote{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin:10%;
}
.side_quote_h{
    font-size: 20px;
    
}
.button_main{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    
}
.button_bg{
    display: flex;
    background-color: #3882F6;
    justify-content: center;
    color: white;
    border-radius: 4px;
    width: 50%;
    margin:50px;
    gap:10%;

}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding:2%;
}
.button_b{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:20px;
    
}
button#button_b{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #3882F6;
    border:2px solid white;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding:10px 40px;
    
}

.button_context{
    display: flex;
    flex-direction: column;
  padding:20px;
}
.button_context h3{
    margin: 2px;
    font-size:25px;
    

}
.button_context p{
    margin: 2px;
    font-weight: lighter;
    font-size:12px;
    font-weight: normal;
    color: #E8E8E8;
}
.boxes img{
    width: 200px;
}

.box_p{
    text-align: left;
    margin:4px;
}
.placeholder_img img{
    width: 400px;
    height: 200px;
}