body{
    margin: 0;
}
@font-face {
    font-family: "myFirstFont";
    src: url("./roboto/Roboto-Bold.ttf");
}
html{
    font-family: "myFirstFont";
}
.header{
    display: flex;
    justify-content: space-around;
    gap:40%;
    background-color: #1F2937;
}
div{
    margin: 0;
    border-radius: 0;
    padding:0;
}
a{
    
    text-decoration: none;
    color:black;
    padding: 2px;
    margin: 5px;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.links_header{
    font-size: 18px;
    color: #e5e7eb;
}
h1#lp_logo{
    font-size: 24px;
    color: #F9FAF8;
}
.ph_main{
    font-size:48px;
    font-weight:bolder; 
    color:#F9FAF8;
    background-color: #1F2937;
    margin: 0;
}
.placeholder{
    display: flex;
    background-color: #1F2937;
    padding:10px;
    
}
.placeholder_content{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding:10px;
}
p#ph_text{
    font-size: 18px;
    color: #e5e7eb;
}
.placeholder_img{
    display: flex;
    padding:10px;
}

button#ph_button{
    
    width: 120px;
    height:40px;
    background-color: #3882F6;
    border-color: #3882F6;
    border-radius: 16px;
    color: white;
}

.box_header{
    font-size:36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    display: flex;
    
   padding:20px;
    
}

.border_box{
    width:200px;
    height: 200px;
    border: 5px solid #3882F6;
    border-radius: 16px;
    justify-content: center;
    margin:5px auto;
    
}

.box_p{
    display: flex;
    margin:5px auto;
    text-align: center;
  
    padding:20px;
    padding-top:0;
    margin: 0%;
}
.boxes{
    display: flex;
    flex-direction: column;
    
    
}